* {
    font-size: 100%;
    color: #fcfcfc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    color: #fcfcfc;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#top_area {
    position: relative;
    width: 85%;
    height: 5%;

    left: 0;
    top: 0;
    padding-top: 2%;
    border-bottom-width: 20px;
    border-bottom-color: #ffd4dd;
    background-color: #d0778f;

    overflow: hidden;
}

/*
#top_area #title_box {
    left: 0;
    top: 0;
    padding: 1%;
    margin-top: 1%;
    margin-left: 5%;
    width: 30%;
    height: 10%;
    background-color: #ffd4dd;
    border-radius: 5px;
}
*/

#top_area #title{
    font-size: xx-large;
    text-align: center;
}

#message_box {
    left: 0;
    top: 0;
    width: 85%;
    height: 85%;
    padding: 5%;
}

/*
#message_box .right_bubble
{
    margin: 50px;
    position: relative;
    width: 250px;
    height: 100px;
    padding: 5px;
    background: #2c8098;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    right: 0px;
}

#message_box .right_bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 0 16px 22px;
    border-color: transparent #2c8098;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -16px;
    right: -22px;
    top: 62%;
}

#message_box .left_bubble
{
    left: 0px;
    position: relative;
    width: 250px;
    height: 120px;
    padding: 5px;
    background: #2c8098;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


#message_box .left_bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 22px 16px 0;
    border-color: transparent #2c8098;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -16px;
    left: -22px;
    top: 62%;
}*/



#message_input {
    position: fixed;
    margin: auto;
    height: 15%;
    width: 85%;
    bottom: 0;
    padding-top: 2%;
    padding-left: 7%;
    background-color: #ffd4dd;
}

#message_input #m {
    color: gray;
    font-size: 130%;

    height: 60%;
    width: 80%;
    left: 10%;
    padding-left: 3%;
    padding-right: 2%;
    margin-right: 0;
    border-radius: 25px 0 0 25px;
    border: 4px;
    overflow: scroll;
}

#message_input button {
    transition: background-color .5s, color .5s, border-color .5s;

    background-color: #d0778f;
    font-size: 150%;

    height: 60%;
    width: 8%;
    left: 90%;
    margin-left: 0;

    border: 4px;
    border-radius: 0 25px 25px 0;
}

#message_input button:hover {
    background-color: #fcfcfc;
    color: #2c8098;
    border-color: #2c8098;
}


#user_list {
    position: absolute;

    background-color: #bdd8e8;
    font-size: large;
    width: 15%;
    height: auto;
    min-height: 100%;
    top: 0;
    right: 0;
}

#user_list .user_list_title {
    background-color: #2c8098;
    padding: 5%;
    text-align: center;
    height: 8%;
    font-size: x-large;
}

#user_list .users {
    height: 92%;
    padding-left: 8%;
    padding-right: 2%;
    padding-top: 5%;
    bottom: 0;
    top: 2%;
}

#user_list .users li .circle {
    position: relative;
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 2%;
    border-radius: 50%;
    width: 95%;
    height: auto;
    padding-top: 95%;
    background-color: #d0778f;
}

#user_list .users li p {
    font-size: x-small;
    text-align: center;
    font-weight: bolder;
}

#user_list .users li {
    display: inline-block;
    list-style-type: none;
    height: 100%;
    width: 45%;
    margin-bottom: 5%;
    margin-right: 3%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 85%;
}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messages { margin-bottom: 40px }




/*
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }

*/