* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    outline: none;
}

html { width: 100%; height: 100%; }

body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    color: #fcfcfc;

    overflow: hidden;

    min-height: 0;
}

#top_area {
    position: relative;
    width: 85%;
    height: 13%;

    left: 0;
    top: 0;
    background-color: #d0778f;
}

#top_area #title{
    top: 0;
    padding-top: 30px;
    font-size: 120%;
    font-weight: lighter;
    text-align: center;
}

#message_input {
    position: fixed;
    margin: auto;
    height: 15%;
    width: 85%;
    bottom: 0;
    padding-top: 30px;
    padding-left: 7%;
    background-color: #ffd4dd;
}

form {
}

#message_input #m {
    color: gray;
    font-size: 130%;

    height: 60%;
    width: 80%;
    left: 10%;
    padding-left: 3%;
    padding-right: 2%;
    margin-right: 0;
    border-radius: 25px;
    border: 4px;
    overflow: scroll;
}

#message_input button {
    transition: background-color .5s, color .5s, border-color .5s;

    background-color: #d0778f;
    font-size: 110%;

    height: 100%;
    width: 60px;
    left: 90%;
    margin-left: 5px;
    margin-bottom: 5px;

    padding-top: 1%;

    border: 4px;
    border-radius: 25px;
}

#message_input button p {
    padding: 0;
    font-size: 110%;
}

#message_input button:hover {
    background-color: #fcfcfc;
    color: #2c8098;
    border-color: #2c8098;
}


#user_list {
    position: absolute;
    overflow-y: hidden;

    background-color: #bdd8e8;
    font-size: large;
    width: 15%;
    height: 100%;
    top: 0;
    right: 0;

    min-width: 100px;
    z-index: 1;
}

#user_list .user_list_title {
    background-color: #2c8098;
    padding: 5%;
    text-align: center;
    height: 8%;
    font-size: x-large;
}

#user_list .users {
    height: 92%;
    padding-left: 8%;
    padding-right: 2%;
    padding-top: 5%;
    bottom: 0;
    top: 2%;

    overflow-y: auto;
}

#user_list .users li .circle {
    position: relative;
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 2%;
    border-radius: 50%;
    width: 95%;
    height: auto;
    padding-top: 95%;
    background-color: #d0778f;
}

#user_list .users li .username {
    font-size: x-small;
    text-align: center;
    font-weight: bolder;
}

#user_list .users li {
    display: inline-block;
    list-style-type: none;
    height: 100%;
    width: 45%;
    margin-bottom: 5%;
    margin-right: 3%;
}

.eventMessage {
    text-align: center;
    font-size: 150%;
    color: black;
    width: 100%;
}


.messageBody {

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

   background-color: #ffd4dd;
    color: #fcfcfc;

    max-width: 65%;

    align-self: flex-start;
}

.messageBody.ownMessage {
    align-self: flex-end;
}

.messageBody.yamMessage {
    background-color: #bdd8e8;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 85%;
    height: 72%;
    top: 13%;

    display: flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    overflow-y: auto;
}

#messages li {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5px 10px;
    padding-top: 0;
    overflow-wrap: normal;

}

#messages li .username {
    /*   position: absolute; */

    font-size: small;
    font-weight: bold;
    color: black;

    background: #fcfcfc;
    z-index: 1;

    margin-left: 10px;
    margin-top: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    border: 1px dashed black;

    width: 200px;

    text-align: center;
}

#messages li .message {
    /*   position: absolute; */

    margin: 0;
    padding: 10px 20px 10px 50px;

    overflow-wrap: normal;
    word-wrap: break-word;

    width: 100%;

    color: gray;
}

#messages li .timestamp {
 /*   position: absolute; */

    font-size: 80%;
    font-weight: lighter;
    text-align: right;
    padding-right: 30px;

    color: #fcfcfc;
}